.banner {
  height: 220px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--light-200);
}

.banner img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
 
}

.banner p {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-shadow:0 1px 5px rgb(0, 0, 0,.5);
    font-weight: 700;
    color: white;
    backdrop-filter: blur(2px);
    inset: 0;
    margin: 0;
    overflow: hidden;
}