.tableParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d4d4d6;
}

.productImg img {
  width: 75px;
  height: 90px;
  background-color: #f2f2f2;
  display: block;
  object-fit: cover;
}

@media (max-width: 768px) {
  .productImg {
    display: none;
  }
}

.tableParentSelection {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Table */
.tableParent table {
  width: 100%;
}
.tableParent table tr {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

.tableParent table tr td {
  flex: 1;
}

.tableParent table tr td:first-child,
.tableParent table tr td:nth-child(4) {
  flex: 0;
  margin: 10px;
  min-width: fit-content;
}

.tableParent table h2 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

@media (max-width: 768px) {
  .tableParent table h2 {
    font-size: 14px;
    letter-spacing: 1;
  }
}
.tableParent table h3 {
  text-align: center;
  font-size: 16px;
  color: var(--secondary);
}
.tableParent table td:last-child h3 {
  font-weight: 600;
}



